/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

header img {
    max-height: 50px;
}

html, body {
    height: 100vh; /* Use full height of the viewport */
    background-color: #FBFAF7;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Login container */
#login-container {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-out;
    margin: auto;
}

h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

/* Input styling */
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
}

input[type="password"]:focus {
    outline: none;
    border-color: #333;
}

/* Button styling */
button {
    width: 100%;
    padding: 15px;
    margin-top: 0px;
    background-color: #034965;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

button:focus {
    outline: none;
}

/* Main content */
#main-content {
    display: none;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding: 10px 20px; /* Reduced padding */
    text-align: center;
}

/* Image container */
.image-container {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    padding: 5px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure the image inside the container scales correctly */
.image-container img {
    width: 100%;
    height: 100%;
    display: block; /* Remove any unwanted spacing around the image */
}


/* Image preview */
.preview-container {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Upload container centered */
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#fileInput {
    width: 35%;
    color: transparent;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    #login-container {
        padding: 20px;
        max-width: 300px;
    }
}


/* Footer at bottom */
footer {
    text-align: center;
    padding: 5px 10px;
    font-size: 0.9em;
    color: #555;
    background-color: #FBFAF7;
}

footer hr {
    width: 80%;
    margin: 5px auto 10px; /* Adjusted margin for spacing */
    border: none;
    border-top: 1px solid #ccc;
}

footer p {
    margin-top: 10px; /* Adds space between the line and the names */
}
